@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #05070b;
  color: #fff;
  font-family: "Vazirmatn", sans-serif;
}

::selection {
  background: rgba(34, 211, 238, 0.3);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #05070b;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #164e63;
}
